{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block titulo %}
	{% endblock %}

	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/footer.css' %}" rel="stylesheet">



	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>

	<!--Modal para subir curriculum-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Subir CV</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="exampleFormControlFile1">Selecciona un archivo ".pdf"</label>
							<input type="file" class="form-control-file" id="exampleFormControlFile1">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Subir</button>
				</div>
			</div>
		</div>
	</div>
	<!--Fin del modal-->

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 px-0">

				<!--HEADER-->
				{% block header %}
				{% endblock %}

			</div>
		</div>

		{% block body %}
		{% endblock %}
	</div>

	<!--        FOOTER          -->
	<footer id="footer" class="light-footer bg-primary navbar-light" data-role="footer">
		<div id="FooterModule">

			<div id="Footer" class="footer footerLight">
				<div class="copyright d-flex justify-content-center px-lg pt-std pb-std my-0 mx-auto">
					<p>Copyright © 2008-2020, UruguayJob, Inc., "UruguayJob" y su logotipo son marcas comerciales
						registradas de UruguayJob, Inc.</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	{% block myScript %}
	{% endblock %}


</body>

</html>