{% extends 'base.html' %}

{% block titulo %}
<title>UyJob</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<!--	<a href="/busquedas"><i class="fas fa-search" style="width:30px"></i> Busquedas</a> -->
			{% if esUsuario %}
				<a href="/calculadora"><i class="fas fa-calculator" style="width:30px"></i>Calculadora</a>
				<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i> Entrevistas</a>
				<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
					Estadísticas</a>

					{% if NotieneCV %}
					<a href="/hacerCV"><i class="fa fa-fw fa-envelope" style="width:30px"></i>
						Crear CV</a>
					{% endif %}

				<a href="/"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
					Cerrar Sesión</a>
			{% else %}
				<a href="/iniciar-sesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
					Iniciar sesión</a>
				<a href="/registrarse"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
					Registrarme</a>
			{% endif %}
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}


<div class="row row-buscador">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 div-buscador">
		<h2 >Encuentra tu próximo empleo aquí</h2>
		<form role="form" action="{% url 'buscar' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-lg-4">

					<div class="form-group">
						<label for="qb">
							¿Qué estás buscando?
						</label>
						<input type="text" name="keyWord" class="form-control" id="qb" value="{{keyWordName}}">
					</div>

					<div class="form-group">
						<label for="cat">Categoría</label>

						<select class="form-control" name="categoria" id="cat"
							onchange="foo(this.value);">

							<option id="N/A" name="N/A">{{ cateName }}</option>
							{% for Categoria in CategoriasBJ %}
							<option id="{{ Categoria.nombre }}" name="{{ Categoria.id }}">{{ Categoria.nombre }}
							</option>
							{% endfor %}

							{% for CategoriaUC in CategoriasUC %}
							<option id="{{ CategoriaUC.nombre }}"  name="{{ CategoriaUC.isFreelancer }}"
							style="display: none;">{{ CategoriaUC.nombre }}
							</option>
							{% endfor %}
						</select>
					</div>

				</div>
				<div class="col-12 col-lg-5">

					<div class="form-group">
						<label for="loca">Locación</label>
						<select class="form-control" name="pais" id="loca" onchange="montrarFreelancer(this.value);">
							<option>{{paisName}}</option>
							<option>Uruguay</option>
							<option>Freelancer</option>
						</select>
					</div>
					<script>

						document.addEventListener("DOMContentLoaded", () => {
							selectSub = document.getElementById('cat');
								var ops = selectSub.options;
								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('name') == "True") {
											$(this).css("display", "none");
										}
										else {
											$(this).css("display", "block");
										}
									});
								});
						});

						function montrarFreelancer(val) {

							selec = document.getElementById("loca");
							if (selec.value == 'Freelancer') {

								selectSub = document.getElementById('cat');
								var ops = selectSub.options;
								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('name') == "True") {
											$(this).css("display", "block");
										}
										else {
											$(this).css("display", "none");
										}
									});
								});
							}
							else {
								selectSub = document.getElementById('cat');
								var ops = selectSub.options;
								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('name') == "True") {
											$(this).css("display", "none");
										}
										else {
											$(this).css("display", "block");
										}
									});
								});
							}

						}
					</script>
					<div class="form-group">
						<!--<div id="subC" style="display: none;">-->
						<div id="subC">
							<label for="sub">Sub Categoría</label>
							<select class="form-control" name="subCategoria" id="sub">
								<option id="N/A">{{subCategoriaName}}</option>
								{% for sub in SubCategorias %}
								<option id="{{ sub.CategoriaBJ.id }}" style="display: none;">{{ sub.nombre }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<script>
						function foo(val){
							op = document.getElementById(val);
							var idCateg = op.getAttribute("name");
							divSubC = document.getElementById('subC');
							Selectcat = document.getElementById('cat');
							
							if (Selectcat.value == 'N/A') {
								//divSubC.style.display = "none";
								
							}
							else {
								
								divSubC.style.display = "block";
								selectSub = document.getElementById('sub');
								var ops = selectSub.options;
								
								$(function () {
									$(ops).each(function (i) {
										if ($(this).attr('id') == idCateg) {
											$(this).css("display", "block");
										}
										else {
											$(this).css("display", "none");
										}
									});
								});

							}
						}
					</script>


				</div>
				<div class="col-12 col-lg-3">
					<div class="form-group my-4">
						<button type="submit" class="btn btn-primary">
							Buscar Empleo
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>

<hr>
<div class="row row-ofertas">
	<!-- Lista de resultados de la busqueda -->
	<div class="col-md-6">
		<h3 class="text-primary">Resultados de la búsqueda</h3>
		<div class="list-group">
			{% for o in OfertasRec %}
			<a href="#" class="list-group-item list-group-item-action"
				onclick="mostrarDetalle('{{ o.id_oferta }}');return false;">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ o.titulo }}</h5>
					<small class="text-muted">{{ o.pais }}</small>
				</div>
				<p class="mb-1">{{ o.descripcion }}</p>
			</a>
			{% endfor %}

			<script>
				function mostrarDetalle(id) {
					element = document.getElementById(id);
					element.style.display = "block";
				}
				function cerrar(id) {
					element = document.getElementById(id);
					element.style.display = "none";
				}
			</script>
		</div>
		<br>
	</div>
	<!-- Detalles del llamado -->
	<div class="col-md-6">
		<h3 class="text-primary">Detalles del llamado</h3>

		{% for o in Ofertas %}
		<div id="{{ o.id_oferta }}" style="display: none;">
			<div class="alert alert-primary seleccion" role="alert">
				<h2>{{ o.titulo }}</h2>
				<p>{{ o.descripcion }}</p>
				<small class="text-muted">Valido desde {{ o.fecha_inicio }} hasta {{ o.fecha_final }}</small>
				<br>

				<div class="row">
					<div class="col-3">
						{% if esUsuario %}

							{% if NotieneCV %}
									<span style="color: red;">Crea currículum para postularte</span>
							{% else %}
								<form class="m-1 p-1" action="{% url 'postularmeBusquedas' %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-primary" name='idOf' value={{o.id_oferta}}>Postularme</button>
								</form>
							{% endif %}
						
						{% else %}
							<span style="color: red;">Inicie sesión para postularte</span>
						{% endif %}
					</div>
					<div class="col-9 mt-2">
						<button onclick="cerrar('{{o.id_oferta }}')" class="btn btn-danger">Cerrar</button>
					</div>
				</div>


			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}