{% extends 'base.html' %}

{% block titulo %}
<title>UyJob</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<!--	<a href="/busquedas"><i class="fas fa-search" style="width:30px"></i> Busquedas</a> -->
			{% if esUsuario %}
				<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i> Entrevistas</a>
				<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
					Estadísticas</a>
				<a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-envelope"
						style="width:30px"></i>Subir CV</a>
				<a href="/"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
					Cerrar Sesion</a>
			{% else %}
				<a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-envelope"
					style="width:30px"></i>Subir CV</a>
				<a href="/iniciar-sesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
					Iniciar sesión</a>
				<a href="/registrarse"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
					Registrarme</a>
			{% endif %}
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}



<div class="row row-buscador">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 div-buscador">
		<h2>Encentra tu próximo empleo aquí</h2>
		<form role="form">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="form-group">
						<label for="exampleInputEmail1">
							¿Qué estás buscando?
						</label>
						<input type="email" class="form-control" id="exampleInputEmail1">
					</div>

					<div class="form-group">
						<label for="exampleFormControlSelect1">Categoría</label>
						<select class="form-control" id="exampleFormControlSelect1">
							<option>Panadero</option>
							<option>Programador</option>
							<option>Sommelier</option>
						</select>
					</div>
				</div>
				<div class="col-12 col-lg-5">
					<div class="form-group">

						<label for="exampleInputPassword1">
							Dónde
						</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>

					<div class="form-group">
						<label for="exampleFormControlSelect1">País</label>
						<select class="form-control" id="exampleFormControlSelect1">
							<option>Uruguay</option>
							<option>Argentina</option>
							<option>Somalia</option>
						</select>
					</div>
				</div>

				<div class="col-12 col-lg-3">
					<div class="form-group my-4">
						<button type="submit" class="btn btn-success">
							Buscar Empleo
						</button>
					</div>
				</div>

			</div>
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>

<hr>
<div class="row row-ofertas">
	<!-- Lista de resultados de la busqueda -->
	<div class="col-md-6 lista-ofertas">
		<h3 class="text-primary">Resultados de la busqueda</h3>
		<div class="list-group">

			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Oferta laboral</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
					varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Oferta laboral</h5>
					<small>3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
					varius blandit.</p>
				<small>Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Oferta laboral</h5>
					<small>3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
					varius blandit.</p>
				<small>Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Oferta laboral</h5>
					<small>3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
					varius blandit.</p>
				<small>Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Oferta laboral</h5>
					<small>3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
					varius blandit.</p>
				<small>Donec id elit non mi porta.</small>
			</a>

		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">Previo</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
			</ul>
		</nav>
	</div>
	<!-- Detalles del llamado -->
	<div class="col-md-6">
		<h3 class="text-primary">Detalles del llamado</h3>
		<div class="alert alert-success seleccion" role="alert">
			<h2>Llamado para guarda de transbordador espacial</h2>
			A simple success alert—check it out!
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta accusamus provident
			repellendus corporis in quos autem nisi quibusdam, voluptatibus incidunt eum dignissimos
			fugiat aspernatur a! Reprehenderit, laudantium. Sint, fugiat assumenda!
		</div>
	</div>
</div>

{% endblock %}