{% extends 'base.html' %}

{% block titulo %}
<title>UyJob</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<!--	<a href="/busquedas"><i class="fas fa-search" style="width:30px"></i> Busquedas</a> -->
			{% if esUsuario %}
			<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i> Entrevistas</a>
			<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>
			<a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-envelope"
					style="width:30px"></i>Subir CV</a>
			<a href="/"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
			{% else %}
			<a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-envelope"
					style="width:30px"></i>Subir CV</a>
			<a href="/iniciar-sesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Iniciar sesión</a>
			<a href="/registrarse"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Registrarme</a>
			{% endif %}
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}


<div class="row row-buscador">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 div-buscador">
		<h2>Encentra tu próximo empleo aquí</h2>
		<form role="form" action="{% url 'buscar' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="form-group">
						<label for="exampleInputEmail1">
							¿Qué estás buscando?
						</label>
						<input type="text" name="keyWord" class="form-control" id="exampleInputEmail1">
					</div>
				</div>
				<div class="col-12 col-lg-5">

					<div class="form-group">
						<label for="exampleFormControlSelect1">País</label>
						<select class="form-control" name="pais" id="exampleFormControlSelect1">
							<option>N/A</option>
							<option>Uruguay</option>
							<option>Argentina</option>
						</select>
					</div>

					<div class="form-group">
						<label for="exampleFormControlSelect1">Categoría</label>
						<select class="form-control" name="categoria" id="exampleFormControlSelect1">
							<option>N/A</option>
							{% for Categoria in Categorias %}
							<option>{{ Categoria }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="col-12 col-lg-3">
					<div class="form-group my-4">
						<button type="submit" class="btn btn-success">
							Buscar Empleo
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>

<hr>
<div class="row row-ofertas">
	<!-- Lista de resultados de la busqueda -->
	<div class="col-md-6">
		<h3 class="text-primary">Resultados de la busqueda</h3>
		<div class="list-group">
			{% for o in OfertasRec %}
			<a href="#" class="list-group-item list-group-item-action"
				onclick="mostrarDetalle('{{ o.id_oferta }}');return false;">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ o.titulo }}</h5>
					<small class="text-muted">{{ o.pais }}</small>
				</div>
				<p class="mb-1">{{ o.descripcion }}</p>
			</a>
			{% endfor %}

			<script>
				function mostrarDetalle(id) {
					element = document.getElementById(id);
					element.style.display = "block";
				}
				function cerrar(id) {
					element = document.getElementById(id);
					element.style.display = "none";
				}
			</script>
		</div>
		<br>
	</div>
	<!-- Detalles del llamado -->
	<div class="col-md-6">
		<h3 class="text-primary">Detalles del llamado</h3>

		{% for o in Ofertas %}
		<div id="{{ o.id_oferta }}" style="display: none;">
			<div class="alert alert-success seleccion" role="alert">
				<h2>{{ o.titulo }}</h2>
				<p>{{ o.descripcion }}</p>
				<small class="text-muted">Valido desde {{ o.fecha_inicio }} hasta {{ o.fecha_final }}</small>
				<br>

				<button class="btn btn-success">Postularme</button>
				<button onclick="cerrar('{{o.id_oferta }}')" class="btn btn-danger">Cerrar</button>

			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}