{% extends 'base.html' %}

{% block titulo %}
<title>Ver CV</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<!--	<a href="/busquedas"><i class="fas fa-search" style="width:30px"></i> Busquedas</a> -->
			<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i>Entrevistas</a>
			<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>

			{% if NotieneCV %}
			<a href="/hacerCV"><i class="fa fa-fw fa-envelope" style="width:30px"></i>
				Crear CV</a>
			{% endif %}
			<a href="/verPerfil"><i class="fas fa-file-alt" style="width:30px"></i>Ver perfil</a>
			<a href="/cerrarSesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}
<!-- Detalles del llamado -->
<div class="row" style="padding-top: 100px; width: fit-content;margin: auto;">
	<h1 class="text-primary">Calculadora de Habilidades</h1>
	<div class="col-12">

		<br>
		<form action="{% url 'Calcular' %}" method="post">
			{% csrf_token %}
			<div class="form-group">

				<label for="selectHabId">Ingrese habilidad</label>
				<select class="form-control" name="habilidad" id="selectHabId" onchange="foo(this.value);">
					<option id=""></option>
					{% for habilidad in habilidades %}
					<option id="{{ habilidad.nombre }}">{{ habilidad.nombre }}</option>
					{% endfor %}
				</select>
				<samp class="text-muted">Puede seleccionar varias habilidades</samp>

				<br>
				<br>

				<label for="habilidadesid">Lista de habilidades:</label>
				<textarea readonly class="form-control" name="habilidades" id="habilidadesid" rows="2"
					style="width: 100%;"></textarea>

				<script>
					function foo(val) {
						document.getElementById('habilidadesid').value += val + "; ";
					}
				</script>
			</div>
			<hr>
			<div class="form-group">


				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-primary active">
						<input type="radio" name="moneda" id="option1" autocomplete="off" checked value="UYU"> UYU
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="moneda" id="option2" autocomplete="off" value="USD"> USD
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="moneda" id="option3" autocomplete="off" value="EUR"> EUR
					</label>
				</div>
				<br> <br>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-primary active">
						<input type="radio" name="tipoSalario" id="option1" autocomplete="off" checked value="Jornalero"> Jornalero
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="tipoSalario" id="option2" autocomplete="off" value="Mensual"> Mensual
					</label>
				</div>

				<div class="row mt-2">
					<div class="col-9 col-md-10">
						<label>Posible salario: {{habiSelected}}</label>
						<textarea readonly class="form-control" name="sueldo" id="habilidadesid" rows="1"
							style="width: 100%;">{{ Sueldo }}</textarea>
					</div>
					<div class="col-3 col-md-2">
						<button type="submit" name="btn" class="btn btn-primary m-2 mt-4">Consultar</button>
					</div>
				</div>
			</div>
			<br>
		</form>
	</div>

</div>

{% endblock %}