{% extends 'base.html' %}

{% block titulo %}
<title>Calificar</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/administrador">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/entrevistar"><i style="width:30px"></i> Entrevistar</a>
			<a href="/"><i style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}

<div class="separador"></div>

<div class="row row-ofertas">
	<!-- Lista de resultados de la busqueda -->
	<div class="col-md-5 lista-ofertas">
		<h3 class="text-primary">Ofertas Laborales</h3>
		<div class="list-group">

			{% for oferta in Ofertas %}

			<a href="#" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ oferta }}</h5>
				</div>
				<p class="mb-1">Se busca individuo con capasidad para amasar.</p>
				<small>desde 20/09/2020 al 25/09/2020</small>
			</a>

			{% endfor %}

		</div>
		<div class="mt-3">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="#">Previo</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Detalles del llamado -->
	<div class="col-md-7">
		<h3 class="text-primary">Postulantes</h3>
		<div class="list-group">

			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h4 class="mt-4">Hernesto ponse</h4>
					</div>
					<div class="col-12 col-md-6">
						<form role="form">
							<div class="form-group">
								<label for="exampleFormControlSelect1">Calificacion</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
								<button type="submit" class="mt-2 btn btn-success">
									Calificar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>


			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h4 class="mt-4">Marco aurelio</h4>
					</div>
					<div class="col-12 col-md-6">
						<form role="form">
							<div class="form-group">
								<label for="exampleFormControlSelect1">Calificacion</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
								<button type="submit" class="mt-2 btn btn-success">
									Calificar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>


			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h4 class="mt-4">Pedro Ponse</h4>
					</div>
					<div class="col-12 col-md-6">
						<form role="form">
							<div class="form-group">
								<label for="exampleFormControlSelect1">Calificacion</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
								<button type="submit" class="mt-2 btn btn-success">
									Calificar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>


			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h4 class="mt-4">Hernesto ponse</h4>
					</div>
					<div class="col-12 col-md-6">
						<form role="form">
							<div class="form-group">
								<label for="exampleFormControlSelect1">Calificacion</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
								<button type="submit" class="mt-2 btn btn-success">
									Calificar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>



		</div>

	</div>
</div>

{% endblock %}