{% extends 'base.html' %}

{% block titulo %}
<title>Calificar</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/administrador">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/entrevistar"><i style="width:30px"></i> Entrevistar</a>
			<a href="/"><i style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}

<div class="separador"></div>

<div class="row" style="min-height: 400px;">
	<!-- Lista de resultados de la busqueda -->
	<div class="col-md-5">
		<h3 class="text-primary">Ofertas Laborales</h3>
		<div class="list-group">

			{% for oferta in Ofertas %}
			<form class="list-group-item list-group-item-action" action="{% url 'mostrarPostulantesCalificar' %}"
				method="post">
				{% csrf_token %}
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ oferta.titulo }}</h5>
				</div>
				<!--<p class="mb-1">{{ oferta.fecha_final }}</p>-->
				<br>
				<button type="submit" class="btn btn-primary" name='idOf' value={{oferta.id_oferta}}>ver
					postulantes</button>
			</form>
			{% empty %}
			<div class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Ya no hay más Ofertas.</h5>
				</div>
			</div>
			{% endfor %}
			<br>
		</div>
	</div>
	<!-- Detalles del llamado -->
	<div class="col-md-7">
		<h3 class="text-primary">Postulantes</h3>
		<div class="list-group">



			{% for p in Postulantes %}
			<div class="list-group-item list-group-item-action">
				
					
						<h4 class="mt-4">{{ p.nombre}} {{ p.apellido}}</h4>
					
					
						<form role="form" action="{% url 'calificarEntrevista' %}" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-12 col-md-9">
									<div class="form-group">
										<label for="comentario">Comentario</label>
										<textarea class="form-control" id="comentario" name="comentario"
											rows="3"></textarea>
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<input type="hidden" name="idoff" value={{idOF}}>
										<label for="exampleFormControlSelect1">Calificación</label>

										<select class="form-control" name="calif" id="exampleFormControlSelect1">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
										</select>
										<button type="submit" class="mt-2 btn btn-primary" name='idU'
											value={{p.id_usuario}}>
											Calificar
										</button>
									</div>
								</div>
							</div>


						</form>
					
				
			</div>
			{% empty %}
			<div class="list-group-item list-group-item-action">
				<h5 class="mb-1">Seleccione oferta</h5>
			</div>
			{% endfor %}



		</div>
	</div>
</div>

{% endblock %}