{% extends 'base.html' %}

{% block titulo %}
<title>Ver CV</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<!--	<a href="/busquedas"><i class="fas fa-search" style="width:30px"></i> Busquedas</a> -->
			<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i> Entrevistas</a>
			<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>
			<a href="/cerrarSesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}
<!-- Detalles del llamado -->
<div class="col-md-6" style="padding-top: 100px; width: fit-content;margin: auto;">
	<div class="row">
		<h1 class="text-primary">Currículum Vitae</h1>
		<br>
		<form action="{% url 'cargarCV' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">

				<div class="row">
					<div class="col-12 col-md-8">
						<label for="direccionid">Direccion</label>
						<input type="text" class="form-control" name="direccion" id="direccionid">

						<label for="telefonoid">telefono</label>
						<input type="text" class="form-control" name="telefono" id="telefonoid">

						<label for="ciid">C.I.</label>
						<input type="text" class="form-control" name="ci" id="ciid">
					</div>
					<div class="col-12 col-md-4">
						<label for="fotoid">Foto</label><br>
						<img src="" alt="" height="200px" width="200px" id="output"><br><br>
						<input id="fotoid" type="file" name="foto" class="form-control-file" accept="image/*"
							onchange="loadFile(event)">
					</div>
				</div>

				<script>
					var loadFile = function (event) {
						var output = document.getElementById('output');
						output.src = URL.createObjectURL(event.target.files[0]);
						output.onload = function () {
							URL.revokeObjectURL(output.src) // free memory
						}
					};
				</script>

				<label for="experienciaid">Experiencia</label>
				<textarea class="form-control" id="experienciaid" name="experiencia" rows="3"></textarea>

				<label for="formacionid">formacion</label>
				<textarea class="form-control" id="formacionid" name="formacion" rows="3"></textarea>
			</div>
			<br>
			<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			<button type="submit" name="btn" class="btn btn-primary" data-dismiss="modal">Subir</button>
		</form>
	</div>
</div>

{% endblock %}