{% extends 'base.html' %}

{% block titulo %}
<title>Entrevistas</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/calculadora"><i class="fas fa-calculator" style="width:30px"></i>Calculadora</a>
			<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>
			<a href="/hacerCV"><i class="fa fa-fw fa-envelope" style="width:30px"></i>
				Crear CV</a>
			<a href="/"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesión</a>
		</div>
	</div>
</nav>
{% endblock %}
{% block body %}
{% load static %}
<div class="separador"></div>

<div class="row " style="min-height: 400px;">
	<div class="col-md-1 ">
	</div>

	<div class="col-md-10 ">
		<h3 class="mb-2 text-primary">Entrevistas pendientes</h3>
		<div class="list-group">

			{% for oferta in Ofertas %}
			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h5 class="mb-1">{{ oferta.titulo }}</h5>
						<p class="mb-1">{{ oferta.fecha_inicio }} - {{ oferta.fecha_final }}</p><br>
						<form class="m-1 p-1" action="{% url 'verFechasDeEntrevista' %}" method="post">
							{% csrf_token %}
							<button type="submit" class="my-2 btn btn-primary" name="idO" value="{{ oferta.id_oferta }}">
								Ver fechas
							</button>
						</form>
					</div>
					<div class="col-12 col-md-6">
						<form action="{% url 'definirFechaEntrevista' %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="exampleFormControlSelect1">Por favor seleccione una fecha:</label>
								<h4>{{ mensaje }}</h4>
								<select class="form-control" name="fechaDef" id="exampleFormControlSelect1">
									{% for f in fechas %}
									<!--<option>2020-09-05</option>-->
									<option>{{ f|date:"c"}}</option>
									{% endfor %}
									<option></option>
								</select>

								<button type="submit" class="my-2 btn btn-primary" name="idO" value="{{ oferta.id_oferta }}">
									Definir
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% empty %}
			<br>
			<h4>No tiene entrevistas pendientes.</h4>
			{% endfor %}
			<br><br>

		</div>

	</div>
	<div class="col-md-1 ">
	</div>

</div>
{% endblock %}