{% extends 'base.html' %}

{% block titulo %}
<title>Entrevistas</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/u">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
	
			<a href="/e"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>
			<a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-envelope"
					style="width:30px"></i>subir CV</a>
			<a href="/"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}
{% block body %}
{% load static %}
<div class="separador"></div>

<div class="row row-ofertas">
	<div class="col-md-1 ">
	</div>

	<div class="col-md-10 lista-ofertas">
		<h3 class="mb-5 text-primary">Entrevistas Pendientes</h3>
		<div class="list-group">




			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h5 class="mb-1">Panaderia el molino</h5>
						<p class="mb-1">Buenos dias estimado, le solusitamos su presencia en Direccion, entre
							los dias
							10/09/2020
							y 13/09/2020 a las 13:00 hrs.
						</p>
					</div>
					<div class="col-12 col-md-6">
						<form>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Porfavor seleccioe una fecha:</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>10/09/2020</option>
									<option>12/09/2020</option>
									<option>13/09/2020</option>
								</select>

								<button type="submit" class="my-2 btn btn-success">
									Enviar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h5 class="mb-1">Panaderia el molino</h5>
						<p class="mb-1">Buenos dias estimado, le solusitamos su presencia en Direccion, entre
							los dias
							10/09/2020
							y 13/09/2020 a las 13:00 hrs.
						</p>
					</div>
					<div class="col-12 col-md-6">
						<form>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Porfavor seleccioe una fecha:</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>10/09/2020</option>
									<option>12/09/2020</option>
									<option>13/09/2020</option>
								</select>

								<button type="submit" class="my-2 btn btn-success">
									Enviar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-12 col-md-6">
						<h5 class="mb-1">Panaderia el molino</h5>
						<p class="mb-1">Buenos dias estimado, le solusitamos su presencia en Direccion, entre
							los dias
							10/09/2020
							y 13/09/2020 a las 13:00 hrs.
						</p>
					</div>
					<div class="col-12 col-md-6">
						<form>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Porfavor seleccioe una fecha:</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>10/09/2020</option>
									<option>12/09/2020</option>
									<option>13/09/2020</option>
								</select>

								<button type="submit" class="my-2 btn btn-success">
									Enviar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>



		</div>

	</div>
	<div class="col-md-1 ">
	</div>

</div>
{% endblock %}