{% extends 'base.html' %}

{% block titulo %}
<title>Estadisticas</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>
		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i> Entrevistas</a>
			
			{% if isLoged %}
			<a href="/hacerCV"><i class="fa fa-fw fa-envelope" style="width:30px"></i>
				Crear CV</a>
			<a href="/"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
			{% else %}
			<a href="/iniciar-sesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Iniciar sesión</a>
			<a href="/registrarse"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Registrarme</a>
			{% endif %}
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}
<br><br><br><br>
<div class="m-4">
	<h2>Estadísticas</h2>
	<div class="m-4">
		<figure class="highcharts-figure">
			<div id="container"></div>
		</figure>
	</div>
	<hr>
	<div class="m-4">
		<figure class="highcharts-figure">
			<div id="container2"></div>
		</figure>
	</div>
	<hr>
	<div class="m-4">
		<figure class="highcharts-figure">
			<div id="container3"></div>
		</figure>
	</div>
</div>
{% endblock %}

{% block myScript %}
{% load static %}
<script src="{% static 'js/HighChart_lib.js' %}"></script>
<script src="{% static 'js/graficas.js' %}"></script>
{% endblock %}