{% extends 'base.html' %}

{% block titulo %}
<title>Administrador</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/administrador">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo" style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/administrador/spiders"><i style="width:30px"></i>Administrar Arañas</a>
			<a href="/#" data-toggle="modal" data-target="#exampleModal"><i style="width:30px"></i>Actualizar BD</a>	
			<a href="/entrevistar"><i style="width:30px"></i> Entrevistar</a>
			<a href="/calificar"><i style="width:30px"></i>Calificar entrevistas</a>
			<a href="/cerrarSesion"><i style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesión</a>
		</div>
	</div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Actualizar base de datos</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<p>
				Se actualizará la base de dato con el resultado obtenido del Scraping ({% now "Y-m-d" %})
			</p>
			<p>
				Esto puede tardar algunos minutos y se bloqueará la página
			</p>
			<p>
				Por favor sea paciente.
			</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		  <a type="button" class="btn btn-primary" href="/cargarBD">Actualizar</a>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}


{% block body %}
{% load static %}

<div class="row row-buscador">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 div-buscador" style="height: 300px;">
		<h3>Bienvenido administrador {{ userNombre }}</h3>
		<br><br>
		<style>
			#f
			{
				height: 145px;
				overflow: auto;
			}
		</style>
		<div class="mx-5">
			<div id="f">
				<p>Este es el sitio encargado de la administración de la información referente a la página UyJob donde el usuario administrador tendrá acceso a funcionalidades tales como actualizar la base de datos, la cual añadirá nuevas tuplas de ofertas laborales scrapeadas de los sitios predefinidos de búsqueda, entrevista, donde podrá programar entrevistas a los postulantes y calificar entrevistas, donde podrá asignar una nota a las entrevistas ya realizadas.</p>
			</div>
			
		</div>
	</div>
	<div class="col-md-2">
	</div>
</div>

<hr>
<br>
{% endblock %}