{% extends 'base.html' %}

{% block titulo %}
<title>UyJob</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>
			<a href="/iniciar-sesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Iniciar Sesión</a>
			<a href="/registrarse"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Registrarme</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}
<div class="row row-buscador">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 div-buscador">
		<h2>Encuentra tu próximo empleo aquí</h2>
		<form role="form" action="{% url 'buscar' %}" method="post">
			{% csrf_token %}
			<div class="row">

				<div class="col-12 col-lg-4">

					<div class="form-group">
						<label for="qb">
							¿Qué estás buscando?
						</label>
						<input type="text" name="keyWord" class="form-control" id="qb">
					</div>

					<div class="form-group">
						<label for="cat">Categoría</label>
						<select class="form-control" name="categoria" id="cat"
							onchange="mostrarDetalle(this.value);return false;">
							<option id="N/A" name="N/A">N/A</option>
							{% for Categoria in CategoriasBJ %}
							<option id="{{ Categoria.nombre }}" name="{{ Categoria.id }}" style="display: none;">
								{{ Categoria.nombre }}
							</option>
							{% endfor %}

							{% for CategoriaUC in CategoriasUC %}
							<option id="{{ CategoriaUC.nombre }}" name="{{ CategoriaUC.isFreelancer }}"
								style="display: none;">{{ CategoriaUC.nombre }}
							</option>
							{% endfor %}
						</select>
					</div>

				</div>
				<div class="col-12 col-lg-5">

					<div class="form-group">
						<label for="loca">Locación</label>
						<select class="form-control" name="pais" id="loca" onchange="montrarFreelancer(this.value);"
							onload="montrarFreelancer(this.value);">
							<option>N/A</option>
							<option>Uruguay</option>
							<option>Freelancer</option>
						</select>
					</div>
					<script>

						document.addEventListener("DOMContentLoaded", () => {
							selectSub = document.getElementById('cat');
								var ops = selectSub.options;
								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('name') == "True") {
											$(this).css("display", "none");
										}
										else {
											$(this).css("display", "block");
										}
									});
								});
						});

						function montrarFreelancer(val) {

							selec = document.getElementById("loca");
							if (selec.value == 'Freelancer') {

								selectSub = document.getElementById('cat');
								var ops = selectSub.options;
								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('name') == "True") {
											$(this).css("display", "block");
										}
										else {
											$(this).css("display", "none");
										}
									});
								});
							}
							else {
								selectSub = document.getElementById('cat');
								var ops = selectSub.options;
								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('name') == "True") {
											$(this).css("display", "none");
										}
										else {
											$(this).css("display", "block");
										}
									});
								});
							}

						}
					</script>

					<div class="form-group">
						<!--<div id="subC" style="display: none;">-->
						<div id="subC">
							<label for="sub">Sub Categoría</label>
							<select class="form-control" name="subCategoria" id="sub">
								<option id="N/A">N/A</option>
								{% for sub in SubCategorias %}
								<option id="{{ sub.CategoriaBJ.id }}" style="display: none;">{{ sub.nombre }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<script>
						function mostrarDetalle(val) {
							op = document.getElementById(val);
							var idCateg = op.getAttribute("name");

							divSubC = document.getElementById('subC');

							Selectcat = document.getElementById('cat');
							if (Selectcat.value == 'N/A') {
								//divSubC.style.display = "none";
							}
							else {


								divSubC.style.display = "block";
								selectSub = document.getElementById('sub');
								var ops = selectSub.options;

								$(function () {
									$(ops).each(function (i) {

										if ($(this).attr('id') == idCateg) {
											$(this).css("display", "block");
										}
										else {
											$(this).css("display", "none");
										}
									});
								});

							}

						}
					</script>


				</div>
				<div class="col-12 col-lg-3">
					<div class="form-group my-4">
						<button type="submit" class="btn btn-primary">
							Buscar empleo
						</button>
					</div>
				</div>

			</div>
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>
<hr>
<div class="row row-ofertas">
	<!--sidebar de publicidad izquierdo -->
	<div class="col-sm-6 col-md-3 sidebar ">
		<div class="card">
			<img src="{% static 'img/izq .jpg' %}" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">La mejor opción en búsqueda de trabajo</h5>
				<p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
			</div>
		</div>

		<div class="card mt-3">
			<img src="{% static 'img/amsj.png' %}" class="card-img-top p-2">
			<div class="card-body">
				<h5 class="card-title">Aprende a perseguir tus sueños</h5>
			</div>
		</div>
	</div>
	<!-- Lista de ofertas laborales -->
	<div class="col-sm-6 col-md-6 lista-ofertas">
		<h3 class="text-primary">Lo más reciente</h3>
		<div class="list-group">

			{% for OfertasRe in OfertasRec %}
			<!--
				<a href="#" data-toggle="modal" data-target="#{{ forloop.counter }}"
					class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{ OfertasRe.titulo }}</h5>
					</div>
					<p class="mb-1">{{ OfertasRe.descripcion }}</p>
				</a>-->
			<div class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ OfertasRe.titulo }}</h5>
				</div>
				<p class="mb-1">{{ OfertasRe.descripcion }}</p>
			</div>
			{% endfor %}

			{% for oferta in Ofertas %}
			<!--
			<div class="modal fade" id="{{ forloop.counter }}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Detalles del llamado</h5>
						</div>
						<div class="modal-body">
							<div class="alert alert-success seleccion" role="alert">
								<h2>{{ oferta.titulo }}</h2>
								<p>{{ oferta.descripcion }}</p>
								<small> Valido dede "{{ oferta.fecha_inicio }}" hasta "{{ oferta.fecha_final }}"</small>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
			-->
			{% endfor %}

		</div>

	</div>
	<!--sidebar de publicidad derecho -->
	<div class="col-sm-6 col-md-3 sidebar">
		<div class="card">
			<img src="{% static 'img/der.jpg' %}" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Te aseguramos un futuro</h5>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ducimus odio
					dolor exercitationem distinctio adipisci dolorem. Non amet eaque commodi esse cumque, fuga ab natus
					nostrum repellendus ut doloribus ad!</p>
			</div>
		</div>
	</div>
</div>
<hr>
{% endblock %}