{% extends 'base.html' %}

{% block titulo %}
<title>UyJob</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/usuario">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<!--	<a href="/busquedas"><i class="fas fa-search" style="width:30px"></i> Busquedas</a> -->
			<a href="/entrevistas"><i class="fas fa-bell" style="width:30px"></i> Entrevistas</a>
			<a href="/estadistica"><i class="fas fa-chart-pie" style="width:30px"></i>
				Estadísticas</a>
			<a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-envelope"
					style="width:30px"></i>Subir CV</a>
			<a href="/cerrarSesion"><i class="fa fa-fw fa-user" style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}


{% block body %}
{% load static %}
<div class="row row-buscador">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 div-buscador">
		<h2>Bienvenido {{ userNombre }}</h2>
		<h4>Encentra tu próximo empleo aquí</h4>
		<form role="form" action="{% url 'buscar' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="form-group">
						<label for="exampleInputEmail1">
							¿Qué estás buscando?
						</label>
						<input type="text" name="keyWord" class="form-control" id="exampleInputEmail1">
					</div>
				</div>
				<div class="col-12 col-lg-5">

					<div class="form-group">
						<label for="exampleFormControlSelect1">País</label>
						<select class="form-control" name="pais" id="exampleFormControlSelect1">
							<option>N/A</option>
							<option>Uruguay</option>
							<option>Argentina</option>
						</select>
					</div>

					<div class="form-group">
						<label for="exampleFormControlSelect1">Categoría</label>
						<select class="form-control" name="categoria" id="exampleFormControlSelect1">
							<option>N/A</option>
							{% for Categoria in Categorias %}
							<option>{{ Categoria }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="col-12 col-lg-3">
					<div class="form-group my-4">
						<button type="submit" class="btn btn-success">
							Buscar Empleo
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>
<hr>
<div class="row row-ofertas">
	<!--sidebar de publicidad izquierdo -->
	<div class="row row-ofertas">
		<!--sidebar de publicidad izquierdo -->
		<div class="col-sm-6 col-md-3 sidebar ">
			<div class="card">
				<img src="{% static 'img/izq .jpg' %}" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Yerba Mate, Compuesta Cabral</h5>
					<p class="card-text">Ideal para personas que disfrutan tomar mate pero son sensibles al consumo de
						estimulantes.</p>
				</div>
			</div>

			<div class="card mt-3">
				<img src="{% static 'img/amsj.png' %}" class="card-img-top p-2">
				<div class="card-body">
					<h5 class="card-title">Asociación Médica de San José</h5>
				</div>
			</div>
		</div>
		<!-- Lista de ofertas laborales -->
		<div class="col-sm-6 col-md-6 lista-ofertas">
			<h3 class="text-primary">Lo más reciente</h3>
			<div class="list-group">

				{% for OfertasRe in OfertasRec %}
				<a href="#" data-toggle="modal" data-target="#{{ OfertasRe.id_oferta }}"
					class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{ OfertasRe.titulo }}</h5>
					</div>
					<p class="mb-1">{{ OfertasRe.descripcion }}</p>
				</a>
				{% endfor %}

				{% for oferta in Ofertas %}
				<div class="modal fade" id="{{ oferta.id_oferta }}" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Detalles del llamado</h5>
							</div>
							<div class="modal-body">
								<div class="alert alert-success seleccion" role="alert">
									<h2>{{ oferta.titulo }}</h2>
									<p>{{ oferta.descripcion }}</p>
									<small> Valido dede "{{ oferta.fecha_inicio }}" hasta
										"{{ oferta.fecha_final }}"</small>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>

		</div>
		<!--sidebar de publicidad derecho -->
		<div class="col-sm-6 col-md-3 sidebar">
			<div class="card">
				<img src="{% static 'img/der.jpg' %}" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Red de cobranza Abitad</h5>
					<p class="card-text">Abitab es una red de locales de pagos y cobranzas de Uruguay que comprende unos
						240 locales en Montevideo y otros 240 en más de 100 localidades del interior. La empresa se creó
						en 1993 por iniciativa de los agentes de quinielas de Montevideo.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
{% endblock %}