{% extends 'base.html' %}

{% block titulo %}
<title>Iniciar Sesion</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

	</div>
</nav>
{% endblock %}


{% block body %}
{% load static %}
<div style="height: 100px;"></div>
<div class="row " style="height: 400px;">
	<div class="col-1 col-md-3 col-lg-4"></div>
	<div class="col-10 col-md-6 col-lg-4">
		<form class="form-signin" action="{% url 'inciarSesion' %}" method="post">
			{% csrf_token %}
			<h1 class="h3 mb-3 font-weight-normal">Encuentra tu trabajo ideal</h1>
			<br>
			<small style="color: red;">{{ msg2 }}</small>
			<label for="inputEmail" class="sr-only">Dirección de correo</label>
			<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Dirección de correo" required
				autofocus>
			<br>
			<small style="color: red;">{{ msg1 }}</small>
			<label for="inputPassword" class="sr-only">Contraseña</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
			<div class="checkbox mb-3">

			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
		</form>
	</div>
	<div class="col-1 col-md-3 col-lg-4"></div>
</div>
{% endblock %}