{% extends 'base.html' %}

{% block titulo %}
<title>Spiders</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <a class="m-0 ml-3 p-0" href="/administrador">
      <img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
        style="width:50px; height: 50px; border-radius: 30px;">
    </a>

    <div class="navbar ml-md-auto" style=" display: table-cell;">
      <a href="/#" data-toggle="modal" data-target="#exampleModal"><i style="width:30px"></i>Actualizar BD</a>	
      <a href="/entrevistar"><i style="width:30px"></i> Entrevistar</a>
      <a href="/calificar"><i style="width:30px"></i>Calificar entrevistas</a>
      <a href="/"><i style="width:30px; padding-right: 10px;"></i>
        Cerrar Sesión</a>

    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Actualizar base de datos</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<p>
				Se actualizará la base de dato con el resultado obtenido del Scraping ({% now "SHORT_DATETIME_FORMAT" %})
			</p>
			<p>
				Esto puede tardar algunos minutos y se bloqueara la pagina
			</p>
			<p>
				Por favor sea paciente.
			</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		  <a type="button" class="btn btn-primary" href="/cargarBD">Actualizar</a>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}

{% block body %}
<div class="col-md-6" style="padding-top: 100px; width: fit-content;margin: auto;"></div>
<h1 class="text-primary">Control de Arañas</h1><br>
<div class="row">
  <div class="col-12 col-md-9 col-lg-8 mx-auto">
    <form class="jumbotron my-3 py-5 ">
      <div class="row">
        <div class="col-0 col-md-1"></div>
        <div class="col-4 col-md-2">
          <label>Twago</label>
        </div>

        <div class="col-4 col-md-4">
          <input type="number" class="form-control" id="inTwagoOfertas" placeholder="Máximo">
        </div>

        <div class="col-4 col-md-4">
          <button type="button" class="btn btn-primary btn-block">Lanzar</button>
        </div>
        <div class="col-0 col-md-1"></div>
      </div>
    </form>
    <form class="jumbotron my-3 py-5">
      <div class="row">
        <div class="col-0 col-md-1"></div>
        <div class="col-4 col-md-2">
          <label>Twago Perfiles</label>
        </div>

        <div class="col-4 col-md-4">
          <input type="number" class="form-control" id="inTwagoPerfiles" placeholder="Máximo">
        </div>

        <div class="col-4 col-md-4">
          <button type="button" class="btn btn-primary btn-block">Lanzar</button>
        </div>
        <div class="col-0 col-md-1"></div>
      </div>
    </form>
    <form class="jumbotron my-3 py-5">
      <div class="row">
        <div class="col-0 col-md-1"></div>
        <div class="col-4 col-md-2">
          <label>Uruguay Concursa</label>
        </div>

        <div class="col-4 col-md-4">
          <input type="number" class="form-control" id="inTwagoPerfiles" placeholder="Máximo">
        </div>

        <div class="col-4 col-md-4">
          <button type="button" class="btn btn-primary btn-block">Lanzar</button>
        </div>
        <div class="col-0 col-md-1"></div>
      </div>
    </form>
    <form class="jumbotron my-3 py-5">
      <div class="row">
        <div class="col-0 col-md-1"></div>
        <div class="col-4 col-md-2">
          <label>Buscojob</label>
        </div>

        <div class="col-4 col-md-4">
          <input type="number" class="form-control" id="inTwagoPerfiles" placeholder="Máximo">
        </div>

        <div class="col-4 col-md-4">
          <button type="button" class="btn btn-primary btn-block">Lanzar</button>
        </div>
        <div class="col-0 col-md-1"></div>
      </div>
    </form>



  </div>



</div>



{% endblock %}