{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Spiders</title>
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/spider.css' %}" />
{% endblock %}

{% block header %}

<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <a class="m-0 ml-3 p-0" href="/administrador">
      <img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
        style="width:50px; height: 50px; border-radius: 30px;">
    </a>

    <div class="navbar ml-md-auto" style=" display: table-cell;">
      <a href="/#" data-toggle="modal" data-target="#exampleModal"><i style="width:30px"></i>Actualizar BD</a>	
      <a href="/entrevistar"><i style="width:30px"></i> Entrevistar</a>
      <a href="/calificar"><i style="width:30px"></i>Calificar entrevistas</a>
      <a href="/"><i style="width:30px; padding-right: 10px;"></i>
        Cerrar Sesión</a>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Actualizar base de datos</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<p>
				Se actualizará la base de dato con el resultado obtenido del Scraping ({% now "SHORT_DATETIME_FORMAT" %})
			</p>
			<p>
				Esto puede tardar algunos minutos y se bloqueara la pagina
			</p>
			<p>
				Por favor sea paciente.
			</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		  <a type="button" class="btn btn-primary" href="/cargarBD">Actualizar</a>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12" style="min-height: 100px;"></div>
</div>

<div class="container">

</div>

<!-- Banner de presentación -->
<div class="row">
    <div class="col-0 col-sm-1"></div>
    <div class="col-12 col-sm-10">
        <div class="jumbotron border">
            <img id="img-principal" src="{% static 'img/spider1.png' %}" class="rounded rounded float-left" alt="...">
            <h3 class="display-4">Control de Scrapyd</h3>
           
            <p class="lead">Scrapyd es el servicio para ejecutar Scrapy spiders. Le permite desplegar sus proyectos de
                Scrapy y controlar sus arañas usando una API HTTP. El servidor HTTP que proporciona la API de programación
                Scrapy arañas y hacer solicitudes con arañas.</p>
            <hr class="my-2">
            
        </div>
    </div>
    <div class="col-0 col-sm-1"></div>
</div>
<div class="row">
    <div class="col-0 col-sm-1"></div>
    <div class="col-10">
        <h2 class="text-danger">Serviciós de Scrapyd</h2>
    </div>
    <div class="col-0 col-sm-1"></div>
</div>


<!-- Estado de scrapyd -->
<div class="row">   
    <div class="col-0 col-sm-1"></div>
    <div class="col-12 col-sm-10">
        <div id="accordion">

            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" id="aStatus" href="#collapse1">
                        Estado del servicio
                    </a>
                </div>
                <div id="collapse1" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Tabla para mostrar el stado del servicio scrapyd -->
                        <div class="table-responsive">
                            <table id="tbStatus" class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>                                       
                                        <th scope="col">Estado</th>
                                        <th scope="col">Trabajos corriendo</th>
                                        <th scope="col">Trabajos pendientes</th>
                                        <th scope="col">Trabajos finalizados</th>
                                        <th scope="col">Host</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyStatus">                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link" id="aJobsRunning" data-toggle="collapse" href="#collapse2">
                        Trabajos Corriendo
                    </a>
                </div>
                <div id="collapse2" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Tabla para mostrar el stado del servicio scrapyd -->
                        <div class="table-responsive">
                            <table id="tbJobsRunning" class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>                               
                                        <th scope="col">Id Trabajo</th>
                                        <th scope="col">Araña</th>
                                        <th scope="col">Inicio</th>                                        
                                    </tr>
                                </thead>
                                <tbody id="tbodyRunning">                                    
                                </tbody>
                            </table>
                        </div>                        
                    </div>     
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" id="aJobsPending" data-toggle="collapse" href="#collapse3">
                        Trabajos Pendientes
                    </a>
                </div>
                <div id="collapse3" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Tabla para mostrar el stado del servicio scrapyd -->
                        <div class="table-responsive">
                            <table id="tbJobsPending" class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>                      
                                        <th scope="col">Id Trabajo</th>
                                        <th scope="col">Araña</th>                                      
                                    </tr>
                                </thead>
                                <tbody id="tbodyPending">                                    
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" id="aJobsFinished" data-toggle="collapse" href="#collapse4">
                        Trabajos Finalizados
                    </a>
                </div>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Tabla para mostrar el stado del servicio scrapyd -->
                        <div class="table-responsive">
                            <table id="tbJobsFinished" class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>                      
                                        <th scope="col">Id Trabajo</th>
                                        <th scope="col">Araña</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Fin</th>                                     
                                    </tr>
                                </thead>
                                <tbody id="tbodyFinished">                                    
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-0 col-sm-1"></div>  
</div>

<hr class="my-4 alert-danger">

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h2 class="text-danger">Spiders</h2>
    </div>
    <div class="col-1"></div>
</div>
<div class="row spiders">    
   
    <div class="col-0 col-sm-1"></div>
    <div class="col-12 col-sm-10 ">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panelTwagoPerfiles">Spider Twago Perfiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panelTwagoOfertas">Spider Twago Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panelConcursa">Spider Uruguay concursa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panelBuscojob">Spider Buscojob</a>
            </li>
        </ul>

        <!-- Contiene todos los contenedores de arañas-->
        <div class="tab-content">
            <div class="tab-pane container active" id="panelTwagoPerfiles">
                    <!-- Fila para la foto, el nombre y los botones -->
                    <div class="row p-3">
                        <div class="col-12 col-sm-4 col-md-3 centrados caja-spider">
                            <img class="mr-3 img-thumbnail" src="{% static 'img/twago.png' %}" alt="Generic placeholder image">
                        </div>
                        <div class="col-12 col-sm-8 col-md-9">
                            <div class="row">
                                <div class="col-12 centrados">
                                    <h5 class="titulo-spider"><a href="https://www.twago.es/s/projects/">Twago Perfiles</a></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-8 my-auto">
                                    <label class="align-middle" for="inTwagoPerfiles">Seleccione el máximo de elementos a raspar. Por defecto (10)</label>                                        
                                </div>
                                <div class="col-12 col-sm-4 my-2">
                                    <input type="number" class="form-control" id="inTwagoPerfiles" placeholder="Máximo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" id="btnPerfiles" class="btn btn-primary btn-block btn-spider">Lanzar araña</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fila para el texto de twago perfiles -->
                    <div class="row">
                        <div class="col-12">
                            <p class="text-card mt-2 border-top p-2">
                            Twago es un sitio web que pone en contacto a empresas o personas que estén en busca de freelance, tales como programadores, 
                            desarrolladores de apps, informáticos, diseñadores, expertos en posicionamiento seo, traductores, redactores o expertos en
                            otros muchos campos.
                           Esta araña le permite extraer perfiles de usuarios desde twago.</p>
                            <p class="font-italic text-primary" id="txtProgPerfiles" ></p>
                            <div class="progress">
                              <div id="barraPerfiles" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="tab-pane container fade" id="panelTwagoOfertas">
                <!-- Fila para la foto, el nombre y los botones -->
                <div class="row p-3">
                    <div class="col-12 col-sm-4 col-md-3 centrados caja-spider">
                        <img class="mr-3 img-thumbnail" src="{% static 'img/twago.png' %}" alt="Generic placeholder image">
                    </div>
                    <div class="col-12 col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-12 centrados">
                                <h5 class="titulo-spider"><a href="https://www.twago.es/s/projects/">Twago Ofertas</a></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-8 my-auto">
                                <label class="align-middle" for="inTwagoPerfiles">Seleccione el máximo de elementos a raspar. Por defecto (10)</label>                                        
                            </div>
                            <div class="col-12 col-sm-4 my-2">
                                <input type="number" class="form-control" id="inTwagoOfertas" placeholder="Máximo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnTwago" class="btn btn-primary btn-block btn-spider">Lanzar araña</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fila para el texto -->
                <div class="row">
                    <div class="col-12">
                        <p class="text-card mt-2 border-top p-2">
                            Twago es un sitio web que pone en contacto a empresas o personas que estén en busca de freelance, tales como programadores, 
                            desarrolladores de apps, informáticos, diseñadores, expertos en posicionamiento seo, traductores, redactores o expertos en
                            otros muchos campos.
                           Esta araña le permite extraer ofertas de trabajo desde twago.</p>
                        <p class="font-italic text-primary" id="txtProgTwago" ></p>
                        <div class="progress">
                            <div id="barraTwago" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane container fade" id="panelConcursa">
                <!-- Fila para la foto, el nombre y los botones -->
                <div class="row p-3">
                    <div class="col-12 col-sm-4 col-md-3 centrados caja-spider">
                        <img class="mr-3 img-thumbnail" src="{% static 'img/concursa.jpg' %}" alt="Generic placeholder image">
                    </div>
                    <div class="col-12 col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-12 centrados">
                                <h5 class="titulo-spider">
                                    <a href="https://www.uruguayconcursa.gub.uy/Portal/servlet/com.si.recsel.dspllamados62">
                                        Uruguay Concursa
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-8 my-auto">
                                <label class="align-middle" for="inTwagoPerfiles">Seleccione el máximo de elementos a raspar. Por defecto (10)</label>                                        
                            </div>
                            <div class="col-12 col-sm-4 my-2">
                                <input type="number" class="form-control" id="inConcursa" placeholder="Máximo">
                            </div>
                        </div>
                        <div class="row">                                    
                            <div class="col-12">
                                <button type="button" id="btnConcursa" class="btn btn-primary btn-block btn-spider">Lanzar araña</button>
                            </div>                                
                        </div>                                
                    </div>
                </div>
                <!-- fila para el texto -->
                <div class="row">
                    <div class="col-12">
                        <p class="text-card mt-2 border-top p-2">
                            Uruguay Concursa es una Unidad perteneciente a la Oficina Nacional del Servicio Civil, cuya
                            finalidad es crear y administrar el sistema de
                            Reclutamiento y Selección para los organismos integrantes de la Administración Central.
                            Debemos aclarar que aparecen llamados también no
                            gestionados por la Oficina de Servicio Civil.
                            Tus datos quedan incorporados en una “base de datos”, que sólo será procesada exclusivamente
                            para esta finalidad: Postulaciones a llamados de
                            la Administración Central y/o Organismos públicos.
                            Esta araña le permite extraer ofertas de trabajo desde Uruguay Concursa.
                        </p>
                        <p class="font-italic text-primary" id="txtProgConcursa" ></p>
                        <div class="progress">
                            <div id="barraConcursa" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- panel Buscojob -->
            <div class="tab-pane container fade" id="panelBuscojob">
                <!-- Fila para la foto, el nombre y los botones -->
                <div class="row p-3">
                    <div class="col-12 col-sm-4 col-md-3 centrados caja-spider">
                        <img class="mr-3 img-thumbnail" src="{% static 'img/buscojob.jpeg' %}" alt="Generic placeholder image">
                    </div>
                    <div class="col-12 col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-12 centrados">
                                <h5 class="titulo-spider"><a href="href="https://www.buscojobs.com.uy/"">Buscojob</a></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-8 my-auto">
                                <label class="align-middle" for="inTwagoPerfiles">Seleccione el máximo de elementos a raspar. Por defecto (10)</label>                                        
                            </div>
                            <div class="col-12 col-sm-4 my-2">
                                <input type="number" class="form-control" id="inBuscoJob" placeholder="Máximo">
                            </div>
                        </div>
                        <div class="row">                                    
                            <div class="col-12">
                                <button type="button" id="btnBuscojob" class="btn btn-primary btn-block btn-spider">Lanzar araña</button>
                            </div>                                
                        </div>                                
                    </div>
                </div>
                <!-- fila para el texto -->
                <div class="row">
                    <div class="col-12">
                        <p class="text-card mt-2 border-top p-2">
                            Buscojobs es un portal de empleo cuyo propósito es ayudarte a encontrar trabajo.
                            Con miles de ofertas de trabajo publicadas, podrás buscar empleo en cualquier ciudad de Uruguay como Montevideo, 
                            Canelones, Maldonado, Colonia, San José, Paysandú, entre otras.
                            Esta araña le permite extraer ofertas de trabajo desde Buscojob.uy.
                        </p>
                        <p class="font-italic text-primary" id="txtProgBuscojob" ></p>
                        <div class="progress">
                            <div id="barraBuscojob" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-0 col-sm-1"></div>

</div>

<hr class="my-4 alert-danger">
{% endblock %}



{% block myScript %}
<script src="{% static 'js/spider.js' %}"></script>
{% endblock %}
