{% extends 'base.html' %}

{% block titulo %}
<title>Ver CV</title>
{% endblock %}

{% block header %}
{% load static %}
<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light  fixed-top bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<a class="m-0 ml-3 p-0" href="/administrador">
			<img class="m-0 p-0" src="{% static 'img/logo.jpg' %}" alt="Logo"
				style="width:50px; height: 50px; border-radius: 30px;">
		</a>

		<div class="navbar ml-md-auto" style=" display: table-cell;">
			<a href="/entrevistar"><i style="width:30px"></i> Entrevistar</a>
			<a href="/calificar"><i style="width:30px"></i>Calificar entrevistas</a>
			<a href="/"><i style="width:30px; padding-right: 10px;"></i>
				Cerrar Sesion</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block body %}
{% load static %}
<!-- Detalles del llamado -->
<div class="col-md-6" style="padding-top: 100px; width: fit-content;margin: auto;">
	<div class="row" >
		<h1 class="text-primary">Currículum Vitae</h1>
		<div class="col-1 col-md-1"></div>
		<div class="col-10 col-md-10">
			<br>
			<div class="row">
				<div class="col-12 col-md-5">

					<span>Nombre completo:</span>
					<h4>{{ user.nombre }} {{ user.apellido }}</h4><br>

					<span>Telefono:</span>
					<h4>{{ cv.telefono }}</h4><br>

					<span>Direccion:</span>
					<h4>{{ cv.direccion }}</h4><br>

					<span>C.I:</span>
					<h4>{{ cv.ci }}</h4><br>

					<span>Correo:</span>
					<h4>{{ user.email }}</h4><br>

				</div>
				<div class="col-12 col-md-1"></div>
				<div class="col-12 col-md-6">
					<span>Foto:</span><br>
					<img src="{{ cv.foto.url }}" alt="" height="200px" width="200px"><br><br>

					<span>Formacion:</span>
					<p>{{ cv.formacion }}</p>

					<span>Experiencia:</span>
					<p>{{ cv.experiencia }}</p>
				</div>
			</div>
		</div>
		<div class="col-1 col-md-1"></div>
	</div>
</div>

{% endblock %}