.centrados {
    /* background-color: antiquewhite; */
    text-align: center;
}


.centrados img {
    
    width: 150px;
    
}

#img-principal{
    max-height: 50px;
}

#btnTwagoPerfiles {
    max-width: 50px;
}


.titulo-spider {
    margin-top: 10px;
    margin-bottom: 25px;
}


