.centrados {
    /* background-color: antiquewhite; */
    text-align: center;
}

.centrados img {
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img-principal {
    max-height: 13rem;
}

.btn-spider {
    max-width: 300px;
}


.titulo-spider {
    margin-top: 10px;
    margin-bottom: 25px;
}

.caja-spider {
    background-image: url("../img/muchas_spiders2.png");
    /* margin: 15px 30px 15px 30px; */
}


