
#paloma3{
    color: #121e2b;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}
#paloma4{
    color: #121e2b;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}
#paloma5{
    color: #121e2b;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}


#palomap{
    color: #121e2b;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}


 hr{
    color: #007bff;
}
